*__Exercise 2: Create markdown cell with title of the notebook__*

# Data Science Tools and Ecosystem

__*Exercise 3 - Create a markdown cell for an introduction*__

#### In this notebook, Data Science Tools and Ecosystem are summarized

***Exercise 10 - Insert a markdown cell to list Objectives***

**Objectives:**
* List popular languages of Data Science.
* List popular libraries of Data science.
* Create tables in Markdown cell.
* Creating Arthmetic expression.

__*Exercise 4 - Create a markdown cell to list data science languages*__

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

*__Exercise 5 - Create a markdown cell to list data science libraries__*

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib

*__Exercise 6 - Create a markdown cell with a table of Data Science tools__*

| Data Science Tools|
|--------|
|Anaconda|
|Rstudio|
|Jupyter Notebook||

***Exercise 7 - Create a markdown cell introducing arithmetic expression examples***

### Below are a few examples of evaluating arithmetic expressions in Python

***Exercise 8 - Create a code cell to multiply and add numbers***

In [29]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

***Exercise 9 - Create a code cell to convert minutes to hours***

In [35]:
 200/60 

#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

***Exercise 11 - Create a markdown cell to indicate the Author's name***

## Author
D. Srisai Kiran